In [1]:
import pandas as pd
import numpy as np
import os
from bs4 import BeautifulSoup
import json
import requests
import janitor

In [2]:
url = "https://explodingtopics.com/blog/music-streaming-stats"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
table = pd.read_html(soup.prettify())
streaming = table[11]

/var/folders/92/vt3mphqd2y3gppxzchrmdy2c0000gn/T/ipykernel_80157/3305806586.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(soup.prettify())

In [4]:
streaming.dropna(inplace=True)
streaming

,0,1,2,3,4,5,6
1,Year,Spotify,Tencent Music,YouTube Music,Apple Music,Amazon Music,NetEase Music
2,2016,36 million,-,3 million,20 million,-,-
3,2017,59 million,-,2.8 million,27 million,-,-
4,2018,83 million,23.3 million,10 million,40 million,16 million,-
5,2019,108 million,31 million,18 million,50 million,32 million,6.7 million
6,2020,138 million,47.1 million,30 million,72 million,55 million,16 million
7,2021,165 million,60.9 million,50 million,80 million,63 million,26.1 million
8,2022,188 million,82.7 million,80 million,88 million,74 million,37.6 million
9,2023,220 million,106.7 million,100 million,93 million,80 million,44.1 million

In [5]:
streaming.columns = streaming.iloc[0]
streaming = streaming[1:]

In [6]:
def clean_value(value):
    if value == "-" or value == "" or pd.isna(value):
        return 0
    else:
        value = str(value).lower().strip()
        if 'million' in value:
            value = value.replace('million', '').strip()
            return float(value)

streaming = streaming.clean_names()

for col in streaming.columns:
    if col != "year":
        streaming[col] = streaming[col].apply(clean_value)

streaming["year"] = streaming["year"].astype(int)
streaming

1,year,spotify,tencent_music,youtube_music,apple_music,amazon_music,netease_music
2,2016,36.0,0.0,3.0,20.0,0.0,0.0
3,2017,59.0,0.0,2.8,27.0,0.0,0.0
4,2018,83.0,23.3,10.0,40.0,16.0,0.0
5,2019,108.0,31.0,18.0,50.0,32.0,6.7
6,2020,138.0,47.1,30.0,72.0,55.0,16.0
7,2021,165.0,60.9,50.0,80.0,63.0,26.1
8,2022,188.0,82.7,80.0,88.0,74.0,37.6
9,2023,220.0,106.7,100.0,93.0,80.0,44.1

In [7]:
streaming.to_json("/Users/krishachandnani/Desktop/LSE/Year 2/PP434/streaming.json")

In [8]:
streaming.to_csv("/Users/krishachandnani/Desktop/LSE/Year 2/PP434/streaming.csv")